.counter-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px 40px;
}
.counter-title{
    font-size: 64px !important;
    font-weight: 200;
    padding-bottom: 2rem;
}
.buttons{
    display: flex;
    gap: 5px;
    flex-direction: column;
    margin-bottom: 2rem;
}
.buttons button{
    background-color: black;
    border: 1px solid white;
}
.buttons button:hover{
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid white;
}
input{
    border: none;
    background-color: rgba(0, 0, 0, 0.37);
    font-size: 1rem;
    border-radius: 10px;
    text-align: center;
    height:30px;
}